{% extends 'zeroapp/layout.html' %}
{% load static %}
{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Свяжитесь с нами</h2>
            <p>Компания: Innovatech Solutions</p>
            <p>Адрес: ул. Примерная, д. 123, г. Москва, Россия</p>
            <p>Телефон: +7 (495) 123-45-67</p>
            <p>Email: info@innovatech.ru</p>
            <div class="mt-3">
                <a href="https://facebook.com/innovatech" class="btn btn-primary mx-1">Facebook</a>
                <a href="https://twitter.com/innovatech" class="btn btn-info mx-1">Twitter</a>
                <a href="https://linkedin.com/company/innovatech" class="btn btn-secondary mx-1">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="{% static 'zeroapp/img/contacts.jpg' %}" class="card-img-top">
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}