{% load static %}
<div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="{% static 'zeroapp/img/cont1.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Миллион способов стать миллионером</h5>
                        <p class="card-text">Расскажем все, что нужно знать.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'zeroapp/img/cont2.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">В поиске дохода?</h5>
                        <p class="card-text">Научим Вас доставать деньги хоть из под земли.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'zeroapp/img/cont3.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ищете где послаще?</h5>
                        <p class="card-text">Лучшие стратегии по добыче сладких кусков.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'zeroapp/img/cont4.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Улучшение жилищных условий.</h5>
                        <p class="card-text">Подробный гайд по прокачке Вашей "ракушки".</p>
                    </div>
                </div>
            </div>
        </div>
</div>
