<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'Главная' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Контент' %}">Контент</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news' %}">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Контакты' %}">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'О компании' %}">О компании</a>
        </li>
    </ul>
</nav>