{% extends 'zeroapp/layout.html' %}
{% load static %}

{% block title %}
    <title>Лента новостей</title>
{% endblock %}

{% block content %}
    <h1 class="text-center">Лента новостей</h1>
    {% if news %}
        {% for article in news %}
            <div class="container mt-3">
                <div class="border rounded p-4 bg-light">
                    <h3 class="mb-3 text-left">{{ article.title }}</h3>
                    <h5 class="mb-2 text-left">{{ article.intro }}</h5>
                    <p class="text-left">{{ article.content }}</p>
                    <p class="text-end">{{ article.author }}</p>
                    <p class="text-end">{{ article.date }}</p>
                    {% include 'zeroapp/logo.html' %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4 class="text-center">Новостей пока нет</h4>
    {% endif %}
{% endblock %}
